<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include('../navbar') %>
    <h1>All Posts</h1>

    <% allPost.forEach((onePost)=>{ %>
        <p><%= onePost.postTitle %></p>
        <p>by:<%= onePost.author.username %></p>
        <form action="/posts/<%= onePost._id %>/delete" method="POST">
            <button type="submit">Delete</button>
        </form>
        <a href="/posts/<%=onePost._id%>">See Details</a>
    <% }) %>

</body>
</html>