<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../navbar') %>
    <h1>Post Details</h1>
    <p>Title: <%= post.postTitle %></p>
    <p>content: <%= post.content %></p>
    <p>author: <%= post.author.username %></p>
    <p>puplished:</p>
    <a href="/posts/<%= post._id %>/edit">Edit</a>
    <h2>Comments</h2>
    <% comments.forEach((oneComment)=>{ %>
  <p>
    <%= oneComment.author.username %>:
    <%= oneComment.content %>
  </p>
<% }) %>


<% if (req.session.user){ %>
<h3>Add ur comment</h3>
<form action="/posts/<%= post._id %>/comments" method="POST">
  <textarea name="content" required></textarea>
  <button>Add</button>
</form>
<% } %>
<br>
    <a href="/posts/">Go back to all posts</a>
</body>
</html>