<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../navbar') %>
    <h1>Post Details</h1>
    <p>Title: <%= post.postTitle %></p>
    <p>content: <%= post.content %></p>
    <p>author: <%= post.author.username %></p>
    <p>Catagory: <%= post.catagory %></p>
    <p>puplished:</p>

    <a href="/posts">Go back to all posts</a>
</body>
</html>